<form>
    <h1>Criando nova Categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="categoria.nome" matInput type="text" name="nome" placeholder="Ex: Computação">
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea [(ngModel)]="categoria.descricao" matInput type="text" name="descricao" placeholder="Ex: Livros de Computação"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8 content-table" mat-stroked-button color="primary">Criar</button>
        <button (click)="cancel()" class="mat-elevation-z8 content-table" mat-stroked-button color="warn">Cancelar</button>
    </div>
</form>